body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
    padding-left: 10px;
}

select {
    background-color: var(--bg-2);
    color: var(--fg);
    outline: none;
    border: none;
    padding: 9px;
    border-radius: 5px;
}