/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap"); */

body {
	background-color: var(--bg);
	/* background-image: linear-gradient(-45deg, var(--green), var(--pink)); */
	color: var(--fg);
	align-items: center;
	font-family: sans-serif;
	/* padding: 0; */
}

.container {
	text-align: center;
	height: 20vh;
}


#search-box {
	background-color: var(--bg-2);
	outline: none;
	color: var(--fg);
	border: none;
	border-radius: 20px;
	font-size: large;
	padding-left: 20px;
	padding-right: 20px;
	width: 50vw;
	height: 50px;
}

#search-box::placeholder {
	color: var(--fg-1);
}

h1#time {
	font-size: 30pt;
	text-align: center;
}

#widgets {
	padding: auto;
	padding-top: 20px;
	width: 90%;
	text-align: left;
	display: grid;
	grid-template-columns: repeat(auto-fit, 190px);
	grid-template-rows: 100px;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

div#widgets div.widget {
	background-color: var(--bg-1);
	text-align: center;
	padding: 10px;
	border-radius: 20px;

	span {
		text-transform: capitalize;
	}

	a {
		transition: font-weight 50ms ease-in-out;
	}
}

div#widgets div.widget a:hover {
	font-weight: 700;
}

/* ------------------------------- */

.animation-translate {
	transition: transform 0.2s ease-in-out;
}

.animation-translate:hover {
	transform: translate(0, -5px);
}

/* ------------------------------- */

.container .widget a {
	color: var(--fg);
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	position: relative;
	padding: 5px;
	width: fit-content;
	margin: auto;
}


#settings-icon {
	fill: var(--fg);
	margin-left: auto;
	margin-right: 10px;
	position: fixed;
	bottom: 10px;
	right: 4px;
}